<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzz.mybatisplusdemo.feedcharting.mapper.FeedbackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hzz.mybatisplusdemo.feedcharting.entity.Feedback">
        <result column="id" property="id" />
        <result column="titleName" property="titlename" />
        <result column="describeText" property="describetext" />
        <result column="filepath" property="filepath" />
        <result column="createdate" property="createdate" />
        <result column="updatedate" property="updatedate" />
        <result column="deleted" property="deleted" />
        <result column="userid" property="userid" />
        <result column="filename" property="filename" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        titleName, describeText, filepath, createdate, updatedate, deleted, userid, filename
    </sql>

</mapper>
